/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* My font */
@font-face {
    font-family: "brittney-signature";
    src: url('Brittney-Signature-demo.otf');
}

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
    --font-bold: 700;
}

/*===== Colors =====*/
:root {
    /* --second-color: #E55947;
    --second-color-alt: #D2321E; */
    --white-color: #FAFAFF;
    --dark-color: #101010;
    --dark-color-light: #606060;
    --bg-color: #152238;
}

/*===== Typography =====*/
:root {
    --body-font: 'Josefin Slab', serif;
    --heading-font: 'brittney-signature';
    --addition-font: 'Pacifico', cursive;
    ;
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
}

@media screen and (min-width: 1024px) {
    /* :root {
        --big-font-size: 6rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --small-font-size: .813rem;
    } */
}

/*===== Margenes =====*/
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
}

/*===== z index =====*/
:root {
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-size: var(--normal-font-size);
    color: var(--white-color);
    line-height: 1.6;
    background: var(--bg-color);
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

img {
    max-width: 100%;
    height: auto;
}

/*===== CLASS CSS ===== */
.section {
    padding: 3rem 0;
}

.section-title {
    /* font-size: var(--h2-font-size); */
    color: var(--dark-color);
    margin: var(--mb-4) 0 var(--mb-1);
    text-align: center;
}

.section-all {
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi);
    color: var(--dark-color-light);
    text-align: center;
    margin-bottom: var(--mb-2);
}

/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

/*===== COVER =====*/
.cover {
    /* background-image: url('../img/1_min-compress1.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/1_cover.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 3rem;
}

.cover__container {
    height: 100vh;
    width: 100%;
}

.cover__data {
    padding-top: 15rem;
}

.cover__title {
    align-self: center;
    font-family: var(--addition-font);
    font-size: var(--h2-font-size);
    line-height: 1;
    letter-spacing: .25rem;
    margin-bottom: 4rem;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.cover p {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.box-image img {
    width: 12rem;
    height: 12rem;
    position: absolute;
    margin-left: -100px;
    left: 50%;
    top: 15rem;
}

.box-image p {
    font-family: var(--addition-font);
}

/*BUTTONS*/
.transparent_btn {
    display: inline-block;
    padding: 10px 14px;
    color: #FFF;
    border: 1px solid #FFF;
    text-decoration: none;
    line-height: 120%;
    background-color: rgba(255, 255, 255, 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 25px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    cursor: pointer;
    text-decoration: none !important;
    text-align: center;
    margin-top: 1.4rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.transparent_btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #FFF;
}

/*===== COUPLE =====*/
.couple {
    text-align: center;
}

.couple__surah {
    font-family: var(--body-font);
    margin-bottom: var(--mb-2);
    font-size: var(--small-font-size);
    color: var(--white-color);
    margin-bottom: 3rem;
}

.couple__surah p span {
    font-size: 1.1rem;
}

.couple__bridegroom {
    color: var(--white-color);
    font-family: var(--body-font);
}

.couple__title {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.mempelai h2 {
    font-family: var(--heading-font) !important;
    font-size: var(--h2-font-size);
    margin-bottom: .5rem;
}

.decoration {
    width: 10rem;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rounded-circle {
    width: 115px;
    height: 115px;
    border: 3px solid #fff;
    border-radius: 50%;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

/*===== GALLERIES =====*/
.galleries {
    text-align: center;
    color: var(--white-color);
    margin-bottom: 5rem;
}

.galleries__title {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    margin-top: 5rem;
    line-height: 3.5rem;
    margin-bottom: 2.5rem;
}

.galleries p {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
}

/* Gallery */
.box {
    width: 300px;
    box-shadow: 2px 2px 8px #000;
    border-radius: 5px;
    overflow: hidden;
    margin: 25px;
}

.slide-img {
    height: 450px;
    position: relative;
}

.slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* End Galeri */

/* ===== Video ===== */
.video {
    color: var(--white-color);
    text-align: center;
}

.video h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

/*===== DATE =====*/
.date {
    text-align: center;
    margin-bottom: 3rem;
}

.date__container {
    color: var(--white-color);
    font-family: var(--body-font);
}

.date__container h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    font-size: 2.5rem;
    font-family: var(--heading-font);
}

.date__container li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    margin-bottom: -2rem;
}

.date__container li span {
    display: block;
    font-size: 2.5rem;
}

#days {
    font-size: 3rem !important;
    font-weight: bold;
}

/*===== LOCATION =====*/
.location__container {
    color: var(--white-color);
    text-align: center;
    margin-bottom: 3rem;
}

.location h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.location p,
a {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.iframe-maps {
    height: 250px;
    width: 280px;
    display: block;
    background: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 8px #000;
    overflow: hidden;
}

/*===== COVID PREVENTION =====*/
.prevention {
    text-align: center;
    color: var(--white-color);
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.prevention__container {
    row-gap: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.prevention h1 {
    font-family: var(--heading-font);
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}

.prevention p {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.prevention__box {
    position: relative;
    justify-content: center;
}

.prevention img {
    height: 5rem;
    width: 5rem;
}

/*===== WISHES =====*/
.wishes {
    text-align: center;
    color: var(--white-color);
    margin-bottom: 5rem;
}

.wishes__container h1 {
    font-family: var(--heading-font);
    font-size: var(--h1-font-size);
    margin-bottom: 1.5rem;
}

.wishes__container p {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

/*===== FOOTER =====*/
.footer {
    background-color: var(--dark-color);
    color: var(--white-color);
    font-family: var(--body-font);
    display: block;
}

.footer .row {
    padding: .6rem;
    display: flex;
    align-items: center;
}

.footer__icon img {
    height: 2rem;
    width: 2rem;
}

/* FLOATING BUTTON */
.hide {
    opacity: 0;
    left: -100%;
}

.show {
    opacity: 1;
    left: 0;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 60px;
    right: 10px;
    border: 2px solid #FFF;
    background-color: #FFF;
    color: var(--dark-color);
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 0 10px black;
    z-index: 2;
}

.label-container {
    position: fixed;
    bottom: 2rem;
    right: 4.9rem;
    display: table;
}

.label-text {
    color: #FFF;
    background: rgba(51, 51, 51, 0.8);
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border-radius: 3px;
}

.label-arrow {
    display: table-cell;
    vertical-align: middle;
    color: #333;
}

/* MODAL */
.btn-close {
    color: #da1919;
    font-size: 2rem;
    margin: auto;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    right: 1rem;
    top: 0;
}

.btn-close:hover {
    color: #919191;
}

.modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.opened:before {
    display: block;
}

.opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}

.modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    z-index: 11;
    width: 360px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal-body {
    padding: 20px;
    color: var(--dark-color);
    font-family: var(--body-font);
}

.modal-header,
.modal-footer {
    padding: 10px 20px;
    font-family: var(--body-font);
    font-weight: bold;
}

.modal-header {
    border-bottom: #eeeeee solid 1px;
    display: flex;
}

.modal-header h2 {
    font-family: var(--body-font);
    font-size: 20px;
    color: var(--dark-color);
}

/* End MODAL */
.desktop__cover {
    display: none;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .cover {
        background-position: 0 -15rem;
    }
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
    }

    .desktop__cover {
        display: block;
        position: fixed;
        width: 60%;
        height: 100vh;
        background: url('../img/cover-kiri.jpg');
        background-size: cover;
        box-shadow: 5px 0 5px -5px #333;
    }

    .desktop__cover h1 {
        font-size: var(--h1-font-size);
        font-family: var(--heading-font);
        line-height: 3.3rem;
        margin-top: 65%;
        margin-left: 2rem;
        text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
    }

    .main__content {
        width: 40%;
        float: right;
    }

    .cover {
        background-position: 0;
    }

    .box-image img {
        position: absolute;
        left: 80%;
    }

}

/* LOADER */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}